<h1 title="Department">{{ department }}</h1>

<mat-form-field>
  <input placeholder="Enter name here" matInput type="text" [(ngModel)]="label" (keydown)="handleKey($event)">
</mat-form-field>

<mat-list>
  <div *ngIf="!employees.length" class="empty-list-label">Empty list</div>
  <mat-list-item *ngFor="let employee of employees">
    <h3 matLine title="Name">
      {{ employee.label }}
    </h3>
    <mat-chip-list>
      <mat-chip title="Score" class="mat-chip mat-primary mat-chip-selected" color="primary" selected="true">
        {{ calculate(employee.num) }}
      </mat-chip>
    </mat-chip-list>
    <i title="Delete" class="fa fa-trash-o" aria-hidden="true" (click)="remove.emit(employee)"></i>
  </mat-list-item>
  <mat-divider *ngIf="employees.length !== 0"></mat-divider>
</mat-list>
